.Chat-main
  .Group-header
    .Group-header__info
      .Group-header__info--title
        = @group.name
      %ul.Group-header__info--member-list
        Member:
        %li.Group-header__info--member-list-name
          - @group.users.each do |user|
            = user.name
    .Group-header__edit-btn
      = link_to edit_group_path(@group), class: "btn" do
        Edit
  .Message-field
    = render partial: 'message', collection: @messages

  .Message-form
    = form_with model: [@group, @message], html: {class: "Message-form__contents"}, local: true do |f|
      .Message-form__contents--input
        = f.text_field :content, class: "Message-form__contents--input--text", placeholder: "type a message"
        = f.label :image, class: "Message-form__contents--input--image" do
          = icon('far', 'image', class: "icon__image")
          = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "Message-form__contents--btn"


-# file_fieldに右記の指定をしていた。type: "file"