.Chat-main
  .Group-header
    .Group-header__info
      .Group-header__info--title
        test
      %ul.Group-header__info--member-list
        Member:
        %li.Group-header__info--member-list-name
          masa
    .Group-header__edit-btn
      = link_to "#", class: "btn" do
        Edit
  .Message-field
    = render partial: 'message', collection: @messages

  .Message-form
    = form_with model: [@group, @message], html: {class: "Message-form__contents"}, local: true do |f|
      .Message-form__contents--input
        = f.text_field :content, class: "Message-form__contents--input--text", placeholder: "type a message"
        = f.label :image, class: "Message-form__contents--input--image" do
          = icon('far', 'image', class: "icon__image")
          = f.file_field :image, class: "hidden", type: "file"
      = f.submit "Send", class: "Message-form__contents--btn"
